.product-banner{
    height: 80vh;
    background-image: url("./images/whole_house_generator_2050x700.jpg");
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.banner{
    grid-template-columns: 1fr 1fr;
    height: 80%;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    margin-top: 30px;
    color: black;
    padding-right: 30px;
}

.banner-info-container
{
    justify-content: center;
    align-items: center;
    text-align: left;
}

.banner-picture{
    justify-content: center;
    align-items: center;
}

.banner-info{
    width: 300px;
    font-size: large;
}

.banner-info > h1{
    margin-bottom: 0;
    font-size: 40px;
}

.shape-container
{
    width: 400px;
    height: 350px;
    background-color: rgb(22, 185, 235);
    justify-content: center;
    align-items: center;
    border-radius: 10% 40% 10% 40%;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 25%));
    justify-content: center;
    grid-auto-rows: auto;
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
}

.product-container
{
    background-color: #2C3639;
    height: 505px;
    border-radius: 20px;
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-container:hover
{
    transform: translateY(5px);
}

.product-img
{
    width: 300px;
    height: 250px;
    background-color: #F8DE22;
    justify-content: center;
    align-items: center;
    border-radius: 10% 40% 10% 40%;
}

.product-info-container
{
    width: 80%;
}

h2{
    margin-bottom: 0;
    margin-top: 0;
}

p
{
    margin-bottom: 5px;
    font-size: small;
    color: grey;
}

.product-info-container > button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background-color: white;
}

.product-info-container > button:hover
{
    transform: translateY(2px);
}

.add-to-cart-btn
{
    color: white !important;
    background-color: rgb(22, 185, 235) !important;
}

.filter-section{
    background-color: white;
    color: black;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.removeElement
{
    display: none;
}

@media(width < 1200px)
{
    .product-banner{
        height: 100vh;
    }

    .banner
    {
        height: auto;
        grid-template-columns: 1fr;
        padding: 20px;
        padding-bottom: 40px;
        margin-top: 15vh;
        margin-bottom: 10vh;
        flex-shrink: 1;
    }

    .banner-info{
        width: 60%;
        text-align: center;
    }

    .banner-info > h1{
            margin-bottom: 0;
            font-size: 30px;
        }

    .shape-container{
        width: 300px;
        height: 250px;
    }

    .clip-art-generator{
        width: 200px;
        max-height: 200px;
    }

    @media(width < 680px)
    {
        .shape-container{
        width: 250px;
        height: 200px;
        }

        .clip-art-generator{
            width: 150px;
        }
    }

    @media(width < 440px)
    {
        .shape-container{
        width: 200px;
        height: 150px;
        }

        .clip-art-generator{
            width: 100px;
        }

        .banner-info
        {
            font-size: small;
        }
    }

    @media(width < 375px)
    {

    }
}