body{ 
    background-color: white;
    color: white;
    font-family: 'Poppins',sans-serif;
    margin:0px;
    margin-top:0px;
    padding: 0px;
  }

  .flex-col{
    display: flex;
    flex-direction: column;
  }

  .flex-row{
    display: flex;
  }

  .grid{
    display: grid;
  }

  img:hover{
    transform: translateY(3px);
  }   

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }

  .footer-basic p {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }

  .footer-basic p a {
    color: black;
    padding: 10px;
  }

  .footer-basic p a:hover {
    text-decoration: none;
    color: gray;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .narrow-menu-option{
    display: block;
    background-color: transparent;
    margin-right: 20px;
  }

  .wide-option{
    display: block;
  }
